{% extends 'store/main.html' %} {% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

  {% comment %} .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } {% endcomment %}

  h1 {
    text-align: center;
  }

  #chat-box {
    overflow-y: scroll;
    max-height: 300px;
    padding: 10px;
  }

  .message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 70%;
    min-width: 80px;
    position: relative;
  }

  .message-user {
    background-color: #DCF8C6;
    align-self: flex-end;
    border-radius: 10px 0px 10px 10px;
  }

  .message-server {
    background-color: #E5E5EA;
    align-self: flex-start;
    border-radius: 0px 10px 10px 10px;

  }

  form {
    display: flex;
    margin-top: 10px;
  }

  input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }

  .timestamp {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: #888;
  }

  button {
    padding: 8px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
<div class="container bg-light p-3 rounded-3 shadow-lg">
  <h1>HealthCare ChatBot</h1>
  <div id="chat-box" class="d-flex flex-column">
    <!-- Display the initial message here -->
    <div class="message message-server pb-3">
      Welcome to the HealthCare ChatBot! How can I assist you today?
    </div>
  </div>
  <form id="message-form">
    {% csrf_token %}
    <input type="text" id="user-message" placeholder="Type your message..." />
    <button type="submit">Send</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    // Function to add a message to the chat box
    function addMessage(message, sender) {
      var timestamp = new Date().toLocaleString([], {
        hour: "2-digit",
        minute: "2-digit",
      });

      $("#chat-box").append(
        '<div class="message pb-3 message-' +
          sender +
          '">' +
          message +
          '<span class="timestamp">' +
          timestamp +
          "</span></div>"
      );
      // Scroll to the bottom of the chat box
      $("#chat-box").scrollTop($("#chat-box")[0].scrollHeight);
      // Clear input field
      $("#user-message").val("");
    }

    // Form submission
    $("#message-form").submit(function (event) {
      event.preventDefault();
      var csrftoken = $("[name=csrfmiddlewaretoken]").val();
      var userMessage = $("#user-message").val();
      addMessage(userMessage, "user");
      // Send user's message to the server
      $.ajax({
        type: "POST",
        url: "/chatbot/",
        headers: {
          "X-CSRFToken": csrftoken,
        },
        data: {
          message: userMessage,
        },
        success: function (response) {
          console.log(response);
          addMessage(response.message, "server");
        },
        error: function (xhr, errmsg, err) {
          console.log(xhr.status + ": " + xhr.responseText);
        },
      });
    });
  });
</script>
{% endblock %}
